* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;

    background: hsl(268, 58%, 21%);
}

body,
.calc-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.calc-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
}